@font-face {
    font-family: "Astounder";
    src: url("../assets/astounder-squared-bb.woff.ttf");
}
@font-face {
    font-family: "Calliope";
    src: url("../assets/Calliope MVB Regular.ttf");
}
@font-face {
    font-family: "KomikaBI";
    src: url("../assets/KOMTXKBI.ttf");
}
@font-face {
    font-family: "Komika";
    src: url("../assets/KOMTXT__.ttf");
}
.window-app .window-content {
    background: white;
    background-size: cover;
}
.hablab{
	font-family:'Astounder';
	font-size: 22px;
}
.habnum{
	font-family:'Komika';
	font-size: 17px;
}
.tabpanel{
	font-family:'Astounder';
	font-size: 25px;
	color: #616161;
}
.tabpanel .item.active{
	font-family:'Astounder';
	font-size: 25px;
	text-decoration:underline;
	color: black;
}
.titletrouble{
	font-family:'Astounder';
	font-size: 27px;
	color: black;
	padding-bottom:5px;
}
.titletroubleprotecc{
	font-family:'Astounder';
	font-size: 20px;
	color: black;
	padding-bottom:5px;
}
.tabledesc{
	font-family:'Astounder';
	font-size: 20px;
	color: black;
}
.panvithist{
	font-family:'Astounder';
	font-size: 18px;
	color: black;
}
.panestados{
	font-family:'Astounder';
	font-size: 18px;
	color: black;
}
.puntos{
	font-family:'Komika';
	font-size: 18px;
	color: black;
}
.tablatalcom{
	font-family:'Komika';
	font-size: 14px;
	color: black;
}
.butdef button{
    width: auto;
    background: white;
    border: 1px solid black;
    margin: 0 5px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:15px;
	box-shadow: 2px 2px 2px grey;
}
.butdef button:hover {
    width: auto;
    background: #f1f1ed;
    border: 1px solid black;
    margin: 0 5px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:15px;
	box-shadow: 2px 2px 2px grey inset;
}
.panelprot{
	font-family:'Astounder';
	font-size: 18px;
	color: black;
}
.textprot{
	font-family:'Komika';
	font-size: 18px;
	color: black;
}
.tablaarmas{
	font-family:'Astounder';
	font-size: 19px;
	color: black;
}
.textlengganch{
	font-family:'Komika';
	font-size: 15px;
	color: black;
}
.charname{
	font-family:'Astounder';
	font-size: 40px;
	color: black;
}
.itemname{
	font-family:'Astounder';
	font-size: 40px;
	color: black;
}
.tableright table{
	border-top: 0px solid ;
    border-bottom: 0px solid;
	background-color:white;
}
.tableleft table{
	border-right: 2px solid black;
	border-top: 0px solid ;
    border-bottom: 0px solid;
	background-color:white;
}
.chat-message .message-content {
    font-family:'Komika';
	font-size:20px;
	text-align:center;
}
.chat-message .message-content button{
    width: auto;
    background: white;
    border: 1px solid black;
    margin: 0 5px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:10px;
	box-shadow: 2px 2px 2px grey;
	margin-bottom:5px;
}
.chat-message .message-content button:hover{
	width: auto;
    background: #f1f1ed;
    border: 1px solid black;
    margin: 0 5px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:10px;
	box-shadow: 2px 2px 2px grey inset;
	margin-bottom:5px;
}
.chat-message .message-content h1{
	 font-family:'Astounder';
	font-size:30px;
	text-align:center;
	border-bottom: 0px;
}
.chat-message .message-content h2{
	 font-family:'Astounder';
	font-size:30px;
	text-align:center;
	border-bottom: 0px;
}
.chat-message .message-content h3{
	 font-family:'Astounder';
	font-size:25px;
	text-align:center;
	border-bottom: 0px;
	display: block;
	padding: 0px;
}
.custom-system-user-inputs{
	font-family:'Astounder';
	font-size:20px;
	text-align:center;
}
.custom-system-user-input-button{
	width: auto;
    background: white;
    border: 1px solid black;
    margin: 0 1px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:10px;
	box-shadow: 2px 2px 2px grey;
	margin-bottom:5px;
}
.custom-system-user-input-button:hover{
	width: auto;
    background: #f1f1ed;
    border: 1px solid black;
    margin: 0 1px;
	font-family: 'Astounder';
    font-size: 18px;
	padding-bottom: 5px;
	border-radius:10px;
	box-shadow: 2px 2px 2px grey inset;
	margin-bottom:5px;
}
input[type="number"] {
	width:50px;
}
.custom-system-dynamic-table-row-icons{
	color: black;
	font-size: 16px;
}
.custom-system-addDynamicLine .custom-system-clickable .fa-solid, .fa-plus-circle{
	color: black;
	font-size: 16px;
}
.panelhist{
	grid-template-columns: 65% 30%;
}
.darvueltaindicador{
	display:none;
}
.iniciativacheckaccion{
	font-size: 12px;
}
.sheet.journal-entry .journal-entry-content{
	background: white;
}
.monks-enhanced-journal .enhanced-journal .sheet.journal-entry .journal-entry-content {
	background: white;
}
.sheet.journal-entry .journal-entry-page header h1{
font-family:'Astounder';
	font-size: 40px;
}
.sheet.journal-entry .journal-entry-page h1{
font-family:'Astounder';
	font-size: 30px;
}
.sheet.journal-entry .journal-entry-page h2{
font-family:'Astounder';
	font-size: 28px;
}
.sheet.journal-entry .journal-entry-page h3{
font-family:'Astounder';
	font-size: 20px;
}
.sheet.journal-entry .journal-entry-page {
font-family:'Komika';
	font-size: 15px;
}
.sheet.journal-entry .pages-list .page-heading .page-title{
	font-family:'Astounder';
	font-size: 20px;
}
.sheet.journal-entry .pages-list .h2 .heading-link {
	font-family:'Astounder';
	font-size: 16px;
}
.sheet.journal-entry .journal-header .title {
	font-family:'Astounder';
	font-size: 50px;
	font-weight:700;
	padding-bottom:15px;
}
.custom-system-item-container-image{
	display:none;
}
.custom-system-field-x-small {
    width: 1.8em;
}
.panestados a.content-link{
	background:transparent;
	border: 0px;
	color: #ff6400; 
}
.tablatalcom a.content-link{
	background:transparent;
	border: 0px;
	color: #ff6400; 
}
.tablaarmas a.content-link{
	background:transparent;
	border: 0px;
	color: #ff6400; 
}
.panvithist a.content-link{
	background:transparent;
	border: 0px;
	color: #ff6400; 
}
.custom-system-roll i{
	display: none;
}
.custom-system-roll {
    background: #fff0;
    border: 0px solid #4b4a44;
}
.chat-message header{
	font-family: 'Astounder';
}
.chat-message .message-header .message-sender{
	font-size:20px;
	text-wrap: wrap;
	line-height:80%;
}
.message .message-header .message-metadata {
	flex:0 0 50px;
	margin-left: 0;
}
.dice-roll .dice-formula {
	display:none;
}
.dice-tooltip .part-header {
	display:none;
}
.dice-tooltip .dice-rolls {
	display: flex;
 	justify-content: center;
	flex-wrap: wrap;
}
.dice-roll .dice-total {
	display:none;
}
.dice-roll .dice-tooltip {
	display:block;
}
.custom-system-roll i{
	display: none;
}
.custom-system-roll {
    background: #fff0;
    border: 0px solid #4b4a44;
}
.dice-tooltip .dice-rolls .roll.d100 {
	font-size: 24px;
    width: 70px;
    line-height: 70px;
    background-image: url("../assets/d10-purple.svg");
    background-size: 70px 70px;
    color: white;
}
.dice-tooltip .dice-rolls .roll.min {
	filter:none;
}
.dice-tooltip .dice-rolls .roll.max {
	filter:none;
}
.dice-tooltip .dice-rolls .roll.d6 {
	font-size: 26px;
    width: 50px;
    line-height: 56px;
    background-image: url("../assets/d6-purple.webp");
    background-size: 50px 50px;
	background-position: bottom left;
    color: white;
	margin-top:-4px;
}
.dice-tooltip .dice-rolls .roll.d6.success {
	font-size: 26px;
    width: 50px;
    line-height: 56px;
    background-image: url("../assets/d6-purple_success.webp");
	background-position: bottom left;
    background-size: 50px 50px;
    color: white;
	filter:none;
	margin-top:-4px;
}
.dice-tooltip .dice-rolls .roll.d6.exploded {
	font-size: 26px;
    width: 50px;
    line-height: 56px;
    background-image: url("../assets/d6-purple_success_max.webp");
    background-size: 50px 50px;
    color: #76115f;
	filter:none;
	margin-top:-4px;
}
.dice-tooltip .dice-rolls .roll.d6.exploded::before {
	display:none;
}
	
.chat-message {
	background: white;
}
.chat-message .message-header .message-sender{
	font-family: 'Astounder';
	text-align:center;
	font-size:35px;
	text-wrap: wrap;
	line-height:80%;
	margin-top:5px;
	margin-bottom:5px;
	color: #c51100;
	white-space: normal;
}
.message .message-header .message-metadata {
	flex:0 0 50px;
	margin-left: 0;
}
.message-timestamp {
	font-family:'Astounder';
	text-wrap: wrap;
	font-size:10px;
}
.chat-message .message-header {
	border-bottom:2px solid #c51100;
}